<mat-card>
  <button
    mat-icon-button
    color="primary"
    class="pin-right-upper-corner"
    [matMenuTriggerFor]="userMenu"
  >
    <mat-icon>more_vert</mat-icon>
    <mat-menu #userMenu="matMenu">
      <button mat-menu-item (click)="editUserDetaiMenu()">edit</button>
    </mat-menu>
  </button>
  <mat-card-content class="user-detail-header">
    <img class="user-img" src="./../../../assets/img/profile-m.png" alt="" />
    <div class="user-details">
      <h2>{{ currentUser.firstName }}, {{ currentUser.lastName }}</h2>
      <br />
      {{ currentUser.mail }}
    </div>
  </mat-card-content>
</mat-card>
<mat-card class="mt-32">
  <button
    mat-icon-button
    color="primary"
    class="pin-right-upper-corner"
    [matMenuTriggerFor]="addressMenu"
  >
    <mat-icon>more_vert</mat-icon>
    <mat-menu #addressMenu="matMenu">
      <button mat-menu-item (click)="editAdressMenu()">edit</button>
    </mat-menu>
  </button>
  <mat-card-header>
    <mat-card-title>Address</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    {{ currentUser.street }}<br />
    {{ currentUser.zipCode }}, {{ currentUser.city }}
  </mat-card-content>
</mat-card>
<mat-card class="mt-32">
  <mat-card-header>
    <mat-card-title>Birthday</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    {{ getBirthDateTime() }}
  </mat-card-content>
</mat-card>
